In [1]:
# Import Dependencies
import pandas as pd

In [2]:
primary_csv = "primary_merge.csv"

In [3]:
primary_df = pd.read_csv(primary_csv)

In [4]:
primary_df.head()

,Unnamed: 0_x,Actors,Awards,BoxOffice,Country,DVD,Director,Episode,Error,Genre,...,imdbRating,imdbVotes,seriesID,totalSeasons,Unnamed: 0_y,id,imdbid,rating,title,year
0,0,"Charlize Theron, Christina Ricci, Bruce Dern, ...",Won 1 Oscar. Another 29 wins & 25 nominations.,"$34,187,787","Germany, USA",01 Jun 2004,Patty Jenkins,NaN,NaN,"Biography, Crime, Drama, Thriller",...,7.3,"123,001",NaN,NaN,3591,271,340855,3,Monster,2003
1,1,"Devon Alan, Laura Harris, Zooey Deschanel, Mar...",1 nomination.,NaN,"Canada, USA",NaN,Marcel Sarmiento,NaN,NaN,NaN,...,6.6,31,NaN,NaN,3592,3137,339882,1,It&#39;s Better to Be Wanted for Murder Than N...,2003
2,2,"Halle Berry, Robert Downey Jr., Charles S. Dut...",3 wins & 7 nominations.,"$59,537,388","USA, France, Canada, Spain",23 Mar 2004,Mathieu Kassovitz,NaN,NaN,"Horror, Mystery, Thriller",...,5.8,"99,552",NaN,NaN,3593,5360,348836,3,Gothika,2003
3,3,"Sean Connery, Naseeruddin Shah, Peta Wilson, T...",12 nominations.,"$66,327,144","USA, Germany, Czech Republic, UK",16 Dec 2003,Stephen Norrington,NaN,NaN,"Action, Adventure, Fantasy, Sci-Fi",...,5.8,"156,033",NaN,NaN,3594,2097,311429,0,"League of Extraordinary Gentlemen, The",2003
4,4,"Pamela Anderson, Jenny McCarthy, Marny Eng, Ch...",2 wins & 4 nominations.,NaN,"USA, Canada",11 May 2004,David Zucker,NaN,NaN,Comedy,...,5.5,"126,494",NaN,NaN,3595,325,306047,3,Scary Movie 3,2003