In [15]:
import requests as re
import pandas as pd
import numpy as np
from pprint import pprint

In [3]:
# url = "http://bechdeltest.com/api/v1/getAllMovies"

# response = re.get(url).json()

In [5]:
#pprint(response[0])

{'id': '8040',
 'imdbid': '0392728',
 'rating': '0',
 'title': 'Roundhay Garden Scene',
 'year': '1888'}

In [6]:
bechdel_df = pd.DataFrame(response)

In [19]:
bechdel_df.head()
#bechdel_df.to_csv("Data/bechdel_full.csv")

In [8]:
bechdel_df.size

40380

In [20]:
split_df = np.array_split(bechdel_df, 9)
tue_1 = split_df[0]
#tue_1['imdbid'].to_csv('Data/james_tues.csv')

In [21]:
tue_2 = split_df[1]
#tue_2['imdbid'].to_csv('Data/emily_tues.csv')
tue_3 = split_df[2]
#tue_3['imdbid'].to_csv('Data/stephanie_tues.csv')
tue_4 = split_df[3]
#tue_4['imdbid'].to_csv('Data/marie_tues.csv')
tue_5 = split_df[4]
#tue_5['imdbid'].to_csv('Data/chris_tues.csv')
wed_1 = split_df[5]
#wed_1['imdbid'].to_csv('Data/chris_wed.csv')
wed_2 = split_df[6]
#wed_2['imdbid'].to_csv('Data/marie_wed.csv')
wed_3 = split_df[7]
#wed_3['imdbid'].to_csv('Data/stephanie_wed.csv')
wed_4 = split_df[8]
#wed_4['imdbid'].to_csv('Data/emily_wed.csv')

In [24]:
wed_4.tail()

        id   imdbid rating                  title  year
8071  8617  5316540      3                  Close  2019
8072  8642  0437086      3    Alita: Battle Angel  2019
8073  8655  7458762      0       Le chant du loup  2019
8074  8659  2452244      1  Isn&#39;t It Romantic  2019
8075  8668  4154664      3         Captain Marvel  2019